.list-engaged {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    width: 45%;
    border-radius: 2rem;
    margin: 2rem auto auto auto;

}

.identity{
    line-height: 1.5;
}

.left, .right {
    margin: 0 .7rem;
    display: flex;
    align-items: center;
    padding: .7em;
    justify-content: center;
}

.category {
    display: flex;
    margin: 0 2rem;
    align-items: center;
}

.category .active {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    background-color: #d0cfcf;
    margin: 0 .4em;
    padding: .35em;
}

.category .none {
    display: none;
    margin: 0 .6em;
}
.error{
    border-radius: 50%;
    margin-right: .6em;
}
.left .full-name {
    font-size: 1em;
    color: dimgray;
    font-family: "Bell MT"
}

.profile {
    border-radius: 50%;
    margin-right: .6em;
    object-fit: cover;
}

@media all and (min-width: 1400px) and (min-width: 1200px)and (min-width: 992px)and (min-width: 768px)and (min-width: 576px)and (min-width: 480px) {
    /*.list-engaged{*/
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    align-items: center;*/
    /*    flex-direction: row;*/
    /*    border: 1px solid grey;*/
    /*    margin-top: 2rem;*/
    /*}*/
}