.headers {
    text-align: center;
    background-color: white;
}

.headers h1 {
    font-size: 2rem;
    padding: 40px;
    font-family: "Bell MT";
    font-weight: bolder;
}

.pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 0;

}
.headers h2{
    font-size: 1.3rem;
    margin: 1em;
    font-family: "Bell MT";
}
.pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}