.headers {
    text-align: center;
    background-color: white;
}

.headers h1 {
    font-size: 2rem;
    padding: 40px;
    font-family: "Arial";
    font-weight: bolder;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.list-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    margin: 1em 0;
}

.list-pages .left, .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 8px;
    padding: 5px;
}

.left .profile {
    border-radius: 50%;
    margin-right: .7em;
    object-fit: cover;
    width: 40px;
}

.left .userid {
    line-height: 1.5;
}

.left .full-name {
    font-size: .8em;
    color: dimgray;
    font-family: "Bell MT"
}

.left .instagram-id {
    font-size: 1em;
}

.right .category {
    display: flex;
    align-items: center;
}

.category img {
    width: 15px;
}

.category span {
    font-size: .7em;
    text-align: center;
    padding: 3px;
}

.category-icon {
    color: dimgray;
    margin-left: 3px;
}

.category .active {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    background-color: #d0cfcf;
    margin: 0 .4em;
    padding: .35em;
}

.category .none {
    display: none;
    margin: 0 .6em;
}

.error {
    border-radius: 50%;
    margin-right: .6em;
    width: 40px;
}

.container {
    margin-inline: 24px;
}

.list {
    margin-block: 12px;
    background-color: #d0cfcf;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    justify-content: center;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 720px) {
    .pages {
        flex-direction: column;
    }

    .list-pages {
        width: 100%;
    }

    .category span {
        font-size: .5em;
        padding: 3px;
    }

    .category img {
        width: 10px;
    }
}