.headers {
    text-align: center;
    background-color: white;
}

.headers h1 {
    font-size: 2rem;
    padding: 40px;
    font-family: "Bell MT";
    font-weight: bolder;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.list-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}